html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

/* Container */
.container {
    max-width: 550px;
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, #672280, #A626D3);
    color: #fff;
}

.header .header__logo img {
    margin-right: 10px;
}

.header .header__logo a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
}

.header .header__label p {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
}