html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

input {
    font-family: inherit;
}

body {
    font-family: 'Karla', sans-serif;
}

/* Container */
.container {
    max-width: 550px;
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, #672280, #A626D3);
    color: #fff;
}

.header .header__logo img {
    margin-right: 10px;
}

.header .header__logo a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 21px;
}

.header .header__label p {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

/* Meme */
.meme {
    padding: 36px;
}

.meme .meme__input-fields {
    display: flex;
    gap: 17px;
    margin-bottom: 15px;
}

.meme input[type="text"] {
    padding: 10px;
    flex: 1 1 50%;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    color: #0D0D0D;
}

.meme input[type="submit"] {
    width: 100%;
    background: linear-gradient(90deg, #672280, #A626D3);
    color: #fff;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.meme .meme__image {
    margin-top: 36px;
    text-align: center;
}

.meme .meme__image img {
    max-width: 100%;
}
