/* Reset browsers default styles */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
  
/* Default styles for html elements */
body {
    font-family: 'Inter', sans-serif;
    font-size: 19px;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

/* Root */
#root {
    height: 100%;
}

/* App */
.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Container */
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Header */
.header {
    padding: 30px 0;
    background-color: #fff;
    color: #21222a;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__logo {
    display: flex;
    align-items: center;
}

.header .header__logo h3 {
    color: #60d8f8;
}

.header .header__logo img {
    margin-right: 10px;
}

.header .header__heading h4 {
    color: #d8d8d8;
    font-weight: 600;
    font-size: 20px;
}

.header .header__toggler {
    display: flex;
    align-items: center;
}

.header .header__toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.header .header__toggler-slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

.header .header__toggler-circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

.header .header__toggler-light {
    color: #2B283A;
}

.header .header__toggler-light {
    color: #918E9B;
}

.header .header__toggler-dark {
    color: #D5D4D8;
}

.header--dark {
    background-color: black;
}

.header--dark .header__toggler-slider {
    border-color: white;
    background-color: #F5F5F5;
    justify-content: flex-end;
}

.header--dark .header__toggler-circle {
    background-color: black;
}

.header--dark .header__toggler-dark {
    color: #FFFFFF;
}

/* Main */
.main {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    padding: 50px 0;
    background-color: #fff;
    color: #282d35;
}

.main:before {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    content: '';
    display: block;
    width: 256px;
    height: 256px;
    background-image: url(../public/logo512-gray.png);
    background-size: contain;
}

.main ul {
    list-style: none;
}

.main li {
    margin-bottom: 20px;
}

.main li:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #60d8f8;
    margin-right: 10px;
}

.main--dark {
    background-color: #282D35;
    color: white;    
}

.main--dark:before {
    background-image: url(../public/logo512.png);
}
